node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

package-lock.json
coverage
coverage.json
typechain
typechain-types
.idea
# Hardhat files
cache
artifacts

# TheGraph files
/build
/src/types

subgraph.yaml

